:root {
    /* Greens */
    --light-green: #2EDA8A;
    --dark-green: #218838;
  
    /* Light Reds */
    --light-red: #FF6B6B;
  
    /* Dark Purples */
    --dark-purple: #1A1A2E;
  
    /* Light Blues */
    --light-blue: #09EEFE;
  
    /* Warning Reds */
    --warning-red: #DC3545;
  
    /* Yellows */
    --yellow: #FFC107;

    /* Dark Gray */
    --dark-gray: #6c757d;
  }

/* Margens */
.mb-6 {
    margin-bottom: 4rem; 
  }
  
  .mt-8 {
    margin-top: 8rem;
  }