<div id="header-container"></div>

<div class="main-container d-flex justify-content-center align-items-center vh-100 bg-main-gradient">
  <div class="steps-section text-center w-100">

    <div class="title-container mb-2">
      <h1 id="workflow-titulo" class="fw-bold text-white"></h1>
      <p id="workflow-passo" class="mb-0 text-white"></p>
    </div>

    <div class="d-flex justify-content-center align-items-center">

      <button class="btn btn-outline-dark rounded-circle me-3">
        <i class="bi bi-arrow-left"></i>
      </button>

      <div id="cards-container" class="bg-light-purple rounded-4 shadow-sm p-4">
        <!-- Conteúdo do card virá depois -->
      </div>

      <button class="btn btn-outline-dark rounded-circle ms-3">
        <i class="bi bi-arrow-right"></i>
      </button>

    </div>

  </div>
</div>
