.main-container {
    width: 100%;
    min-height: 92vh;
    position: relative;
    z-index: 1;
}

#workflow-content {
    width: 600px;
    height: 500px;
}

.loading-overlay {
    transition: width 0.5s ease-in-out;
}

#workflow-content, .signature-container {
  position: static;
}

.workflow-wrapper {
  position: relative;
  overflow-x: hidden; 
}

/* Quando o menu mobile estiver aberto */
.mobile-menu-active .main-container {
  overflow: hidden; 
  pointer-events: none; 
}