<div id="header-container"></div>

<div class="main-container vh-100 bg-main-gradient d-flex">
  <div class="steps-section text-center w-100 d-flex align-items-center flex-column mt-5">

    <div class="title-container mb-3">
      <h1 id="workflow-titulo" class="text-white"></h1>
      <h5 id="workflow-passo" class="text-white"></h5>
    </div>

    <!-- Conteúdo dinâmico -->
    <div id="workflow-content" class="d-flex justify-content-center"></div> 

    <!-- <div class="progress-container position-relative d-inline-block fs-2 fw-bold my-5">
      <div class="signature-progress"></div>
      <div class="position-absolute top-0 end-0 bottom-0 bg-main-gradient w-100 loading-overlay" id="loadingOverlay"></div>
    </div> -->

  </div>
</div>
