<div class="workflor-wrapper">
  <div id="header-container"></div>

  <div class="main-container vh-100 bg-main-gradient d-flex">
    <div class="steps-section text-center w-100 d-flex align-items-center flex-column mt-5">

      <div class="title-container mb-3">
        <h1 id="workflow-titulo" class="text-white"></h1>
        <h5 id="workflow-passo" class="text-white"></h5>
      </div>

      <!-- Conteúdo dinâmico -->
      <div id="workflow-content" class="d-flex justify-content-center"></div>

      <div class="signature-container position-relative">
        <div class="signature-text" id="signature-name"></div>
        <div class="signature-overlay" id="signature-overlay"></div>
        <div class="steps-counter">
          <span id="current-step"></span>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="module" src="/src/pages/workflow/confirmar-dados/confirmar-dados.js"></script>