* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow: hidden !important;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: fixed; 
}

.bg-main-gradient {
  background: var(--dark-purple);
}
