.header-container {
width: 100%;
height: 8vh;
background: white;
border-bottom: 2px solid rgba(247, 245, 245, 0.1); 
background: #1a1a2e;
}

.header-items {
height: 100%; 
}

.logo-img {
height: 50px;
width: auto;
object-fit: contain;
}

.right-items .right-item {
padding: 0 1rem;
border-left: 1px solid rgba(255, 255, 255, 0.3);
color: white;
}

/* Remove a borda do primeiro item */
.right-items .right-item:first-child {
border-left: none;
}

.right-item:hover {
    transition: 0.3s;
    cursor: pointer;
    color: #E9E5FD;
}

/* Assinatura concluída */
.signature-completed {
    transition: color 0.3s ease;
  }
  

