  .main-container {
    max-width: var(--screen-xxl);
    ;
    width: 95%;
    margin: auto;
    border-radius: 20px;
    overflow: hidden;
    transition: all 0.3s ease;
  }

  .left-column {
    background-color: #282855;
  }

  .row {
    height: 100%;
  }

  /* Usando breakpoints do _variables.css */
  @media (max-width: var(--screen-xl)) {

    /* 1200px */
    .main-container {
      width: 98%;
    }
  }

  @media (max-width: var(--screen-lg)) {

    /* 992px */
    .main-container {
      border-radius: 15px;
    }
  }

  @media (max-width: var(--screen-md)) {

    /* 768px */
    .main-container {
      width: 100%;
      border-radius: 0;
    }

    .row {
      min-height: 100vh !important;
      flex-direction: column;
    }

    .left-column,
    .right-column {
      height: auto !important;
      min-height: 50vh;
    }
  }

  @media (max-width: var(--screen-sm)) {

    /* 576px */
    .main-container {
      box-shadow: none !important;
    }
  }